.entry-title {
  border-bottom: 1px solid rgb(45, 33, 21);
  padding-bottom: 15px;
  margin: 0;
}

.delete-button {
  text-decoration: none;
  color: white;
  border: none;
  padding: 10px;
  background-color: rgb(45, 33, 21);
  border-radius: 4px;
  font-weight: bolder;
  width: 20%;
}

.done {
  background-color: rgba(105, 126, 31, 80%);
  text-decoration: line-through;
}

.entry-action-container {
  display: flex;
  justify-content: space-between;
}

.entry-checkbox {
  width: 30px;
  height: 30px;
  background-color: rgba(105, 126, 31, 50%);
  border: 3px solid rgba(105, 126, 31, 80%);
}

.entry-checkbox::after input:checked {
  background-color: rgba(105, 126, 31);
}

.false {
}
